# basic commands
eval "`dircolors -b`"
alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'

# new commands
alias quickweb='python -m SimpleHTTPServer'

# short names
alias py='ipython --no-banner --no-confirm-exit -i'
alias ack='ack-grep'
alias open='gnome-open'
alias :e='vim'

# git stuff
#alias git='hub'
alias g='git'
alias gc='git commit'
alias gp='git pull'
alias gs='git status'
alias gy='git sync'

# s3cmd aliases
alias s3sunlight='s3cmd -c ~/.s3cmd/sunlight'
alias s3personal='s3cmd -c ~/.s3cmd/personal'

# personal sundrop
alias jdrop='sundrop --set=SUNDROP_CONFIG=~/.sundrop-personal'

# command replacements
alias tree='tree -A -I "*.pyc|*~"'
